<!DOCTYPE HTML>
<html>
    {{>head}}
    <body>
        {{>header}}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-auto">
                    <form id="formCadastro" class="form" action="/auth/signup" method="POST">
                        <div class="mb-3">
                            <label for="inputNome" class="form-label">Nome </label>
                            <input type="email" class="form-control" id="inputNome" placeholder="Nome">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email </label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                        </div>
                        {{! <div id="emailHelp" class="form-text">Fazer cadastro</div> }}
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="/scripts/login.js"></script>
    </body>
</html>
