<!DOCTYPE HTML>
<html>
    {{>head}}
    <body>
        {{! {{>header}}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-auto">
                    <form id="formLogin" class="form" action="/auth/login" method="POST">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email </label>
                            <input type="email" class="form-control" id="inputEmail" name ="mail" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="inputPassword" name="senha" placeholder="Senha">
                        </div>
                        {{! <div id="emailHelp" class="form-text">Fazer cadastro</div> }}
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
        {{! <script src="/scripts/login.js"></script> }}
    </body>
</html>
